@import '../../variables.scss';

.overlay {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  padding-top: 150px;
  justify-content: center;
  z-index: 100;
}

.login-modal {
  width: 768px;
  padding: 42px 115px 45px;
  color: #fff;
  background-color: #4E4E4E;
  border-radius: 5px;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.56);

  form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  &__field {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-bottom: 40px;
    font-weight: 700;

    input {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 10px;
      padding: 0;
      border: none;
      border-radius: 5px;
      font-size: 24px;
      line-height: 30px;
      padding: 10px;
    }
  }

  .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__remember {
    font-size: 16px;
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s;

    input {
      margin: 0;
      padding: 0;
      margin-right: 15px;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: none;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__forget-link {
    color: #fff;
    font-style: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__login {
    margin: 0;
    padding: 0;
    border: none;

    width: 100%;
    padding: 30px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__register {
    margin-top: 30px;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  &__close {
    position: relative;
    left: 50px;
    font-size: 0;
    border: none;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 100%;
      background-color: #fff;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

@media (max-width: $media-tablet-width) {
  .overlay {
    padding: 150px 10px;
  }

  .login-modal {
    width: 100%;
    padding: 30px 10px;

    &__close {
      width: 20px;
      height: 20px;
      left: -40px;
      top: 15px;
    }

    &__remember {
      margin-bottom: 10px;
    }
  }
}