@import '../../mixins.scss';
@import '../../variables.scss';

.about {
  background-color: #404040;
  color: #ffffff;

  &__wrapper {
    @include wrapper(1230px);
    padding: 100px 30px 50px;
  }

  &__title {
    @include title(50px, 60px);
  }

  &__description {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
  }

  .team {
    &__title {
      font-size: 48px;
      line-height: 50px;
      text-align: center;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex-basis: 40%;
      margin-bottom: 50px;

      img {
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }

    &__name {
      display: block;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: 3px;
    }

    &__position {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: $media-tablet-width) {
  .about {
    .team {
      &__item {
        flex-basis: 100%;
        text-align: center;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}