.guitar-decoration {
  background-color: #282828;
  background-image: url('./img/guitar.png');
  background-repeat: no-repeat;
  background-position: 0 -180px;
  background-size: 1754px 980px;
  background-color: #282828;
  color: #fff;
}