@import '../../mixins.scss';
@import '../../variables.scss';

.page-header {
  width: 100%;
  background-color: #000;

  .burger {
    display: none;
  }

  &__wrapper {
    @include wrapper(1230px);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-logo {
    width: 130px;
    height: 63px;
    margin-right: 70px;

    a {
      transition: all 0.3s;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  .user-block {
    margin-left: auto;
    margin-right: 10px;

    &__link {
      display: block;
      padding-right: 77px;
      font-size: 15px;
      line-height: 60px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      background-image: url('./img/user-icon.png');
      background-repeat: no-repeat;
      background-position: 100% 50%;
      transition: all 0.3s;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: $media-tablet-width) {
  .page-header {
    .burger {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      font-size: 0;
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      width: 25px;
      height: 25px;
  
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #fff;
        box-shadow: 0 10px 0 0 #fff,
                    0 20px 0 0 #fff;
        transition: 0.3s;
      }

      &:active {
        opacity: 0.6;
      }
    }

    .user-block {
      margin-left: 0;

      &__link {
        background-image: none;
        padding: 0;
        text-align: center;
      }
    }
  }
}