@import '../../mixins.scss';
@import '../../variables.scss';

.user-cabinet {
  background-color: #404040;
  color: #fff;

  &__wrapper {
    @include wrapper(1230px);
    padding: 50px 30px;
    min-height: calc(100vh - 195px - 103px);
  }

  .cabinet {
    &__title {
      @include title(50px, 60px);
      margin-bottom: 30px;
    }

    &__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__field {
      display: block;
      flex-basis: 45%;
      margin-bottom: 15px;

      input, select {
        margin-left: 20px;
      }

      &--about {
        flex-basis: 100%;

        textarea {
          width: 100%;
        }
      }
    }

    &__save {
      @include button(#000, #fff, 24px);
      margin-top: 20px;
    }

    &__logout {
      @include button(#000, #fff, 24px);
      margin-top: 20px;
    }
  }
}