@mixin wrapper($width) {
  max-width: $width;
  margin: 0 auto;
}

@mixin title($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 60px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #fff;
  }
}

@mixin hidden() {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@mixin button($bg-color, $color, $fsize) {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $bg-color;
  color: $color;
  padding: 20px 50px;
  font-size: $fsize;
  line-height: 1.2em;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}