@import '../../variables.scss';

.page-menu {
  display: flex;
  flex-grow: 1;
}

.main-nav {
  max-width: 770px;
  margin-right: auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
  }

  &__item {
    margin-right: 25px;
    margin-bottom: 15px;
  }

  &__link {
    display: block;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &--active {
      border-bottom: 2px solid #fff;
    }
  }
}

@media (max-width: $media-tablet-width) {
  .page-menu {
    display: none;
    width: 100%;
    flex-direction: column;

    &--open {
      display: block;
    }
  }

  .main-nav {
    margin-right: 0;

    &__list {
      flex-direction: column;
      justify-content: center;
    }

    &__item {
      margin: 0;
      margin-bottom: 15px;
    }

    &__link {
      text-align: center;
    }
  }
}